body {
	background-color: #222222;
	color: #080505;
}

.gameboard {
	margin: 20px;
	padding: 20px;
	background-color: #888888;
	text-align: center;
}

.instruction {
	background-color: #666666;
	padding: 10px;
	border: solid 1px #000000;
	display: inline-block;
	height: auto;
}

button {
	background-color: #555555;
	border: 2px solid rgb(90, 90, 90);;
	border-radius: 10px;
	size: 20px;
	padding: 10px;
	color: #ffffff;
}

button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:focus {
	outline:0;
}

span.ins {
	display: block;
}
